/* ==================================================================
TWITTER BOOTSTRAP
================================================================== */

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-11 {
	width: 91.66666667%;
}

.col-xs-10 {
	width: 83.33333333%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-8 {
	width: 66.66666667%;
}

.col-xs-7 {
	width: 58.33333333%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-5 {
	width: 41.66666667%;
}

.col-xs-4 {
	width: 33.33333333%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-2 {
	width: 16.66666667%;
}

.col-xs-1 {
	width: 8.33333333%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-pull-11 {
	right: 91.66666667%;
}

.col-xs-pull-10 {
	right: 83.33333333%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-8 {
	right: 66.66666667%;
}

.col-xs-pull-7 {
	right: 58.33333333%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-5 {
	right: 41.66666667%;
}

.col-xs-pull-4 {
	right: 33.33333333%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-2 {
	right: 16.66666667%;
}

.col-xs-pull-1 {
	right: 8.33333333%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-push-11 {
	left: 91.66666667%;
}

.col-xs-push-10 {
	left: 83.33333333%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-8 {
	left: 66.66666667%;
}

.col-xs-push-7 {
	left: 58.33333333%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-5 {
	left: 41.66666667%;
}

.col-xs-push-4 {
	left: 33.33333333%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-2 {
	left: 16.66666667%;
}

.col-xs-push-1 {
	left: 8.33333333%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

.col-xs-offset-11 {
	margin-left: 91.66666667%;
}

.col-xs-offset-10 {
	margin-left: 83.33333333%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-8 {
	margin-left: 66.66666667%;
}

.col-xs-offset-7 {
	margin-left: 58.33333333%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-5 {
	margin-left: 41.66666667%;
}

.col-xs-offset-4 {
	margin-left: 33.33333333%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-2 {
	margin-left: 16.66666667%;
}

.col-xs-offset-1 {
	margin-left: 8.33333333%;
}

.col-xs-offset-0 {
	margin-left: 0;
}

@-ms-viewport {
	width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
	display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

.visible-print {
	display: none !important;
}

.visible-print-block {
	display: none !important;
}

.visible-print-inline {
	display: none !important;
}

.visible-print-inline-block {
	display: none !important;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary { /* 1 */
	display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template,
[hidden] {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
	outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
	font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
	font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
	background-color: #ff0;
	color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
	border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
	margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
	font: inherit; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
	font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

body {
	background-color: #002826;
	background-image: url("../img/bg_splash_desktop.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrap {
	margin: 0 auto;
	position: relative;
	width: 928px;
}

.sec_age {
	max-width: 770px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.sec_age .container-fluid {
	height: 100%;
	min-height: 100%; /* habilita o flex nos filhos diretos */
	display: -ms-flex;
	display: -webkit-flex;
	display: flex; /* centraliza na vertical */
	-ms-align-items: center;
	-webkit-align-items: center;
	align-items: center; /* centraliza na horizontal */
	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.sec_age .logo {
	padding-right: 30px;
}

.sec_age .logo img {
	width: 100%;
	display: inline-block;
}

.sec_age #age-gate-form {
	padding-top: 3.5rem;
	white-space: nowrap;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:before,
.row:before,
.clearfix:after,
.row:after {
	line-height: 0;
	display: table;
	content: '';
}

.clearfix:after,
.row:after {
	clear: both;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.hide {
	display: none !important;
}

.show,
.block {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #999999;
	font-weight: 400;
}

p {
	font-size: 14px;
	line-height: 1.8em;
	margin: 0 0 20px 0;
}

li {
	font-size: 14px;
}

a {
	color: #e40046;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #98002f;
}

.italic,
em {
	font-style: italic;
}

.fw-thin {
	font-weight: 100;
}

.fw-light {
	font-weight: 300;
}

.fw-normal {
	font-weight: 400;
}

.fw-medium {
	font-weight: 500;
}

.fw-semi-bold {
	font-weight: 600;
}

.fw-bold,
b,
strong {
	font-weight: 700;
}

.fw-extra-bold {
	font-weight: 800;
}

.fw-ultra-bold {
	font-weight: 900;
}

.big {
	font-size: 20px;
}

input,
select,
textarea,
button {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

h1.type01,
h2.type01,
h3.type01,
h4.type01,
h5.type01,
h6.type01 {
	color: #ffffff;
	font-size: 3rem;
	line-height: 0.8em;
	font-weight: 300;
	margin-bottom: 30px;
}

h1.type01 span,
h2.type01 span,
h3.type01 span,
h4.type01 span,
h5.type01 span,
h6.type01 span {
	display: block !important;
	padding-bottom: 10px;
}

h1.type01 strong,
h2.type01 strong,
h3.type01 strong,
h4.type01 strong,
h5.type01 strong,
h6.type01 strong {
	font-weight: 600;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 23px;
}

/*
.nav-social
{
    margin: 0;
    padding: 0;
    li
    {
        .pull-left;
        .fw-thin;
        line-height: 53px;
        list-style-type: none;
        margin-left: 15px;
        font-size: 1.8em;
    }
}
*/

/* ==================================================================
PRELOADER
================================================================== */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	z-index: 999;
}

#loading-animation {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../img/loading-animation.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

/* ==================================================================
FORM
================================================================== */

/**/

input,
select,
textarea,
button {
	background-color: #ffffff;
	border: none;
	height: 70px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 1.2rem;
}

input.month,
select.month,
textarea.month,
button.month,
input.year,
select.year,
textarea.year,
button.year {
	text-align: center;
}

input.month,
select.month,
textarea.month,
button.month {
	width: 70px;
}

input.year,
select.year,
textarea.year,
button.year {
	width: 100px;
}

input + .separa,
select + .separa,
textarea + .separa,
button + .separa {
	font-size: 2.5em;
	color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	position: relative;
	top: 5px;
}

input[type="checkbox"],
input[type="radio"] {
	height: auto;
}

input[type="submit"].desktop-submit {
	background-color: #00c8ca;
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
	margin-left: 28px;
}

label {
	font-size: 1.2em;
	margin-bottom: 5px;
}

label small {
	font-size: 0.9em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.remember {
	margin-top: 20px;
}

.remember input {
	margin-right: 10px;
}

@media (min-width: 768px) {

.container {
	width: 750px;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
	float: left;
}

.col-sm-12 {
	width: 100%;
}

.col-sm-11 {
	width: 91.66666667%;
}

.col-sm-10 {
	width: 83.33333333%;
}

.col-sm-9 {
	width: 75%;
}

.col-sm-8 {
	width: 66.66666667%;
}

.col-sm-7 {
	width: 58.33333333%;
}

.col-sm-6 {
	width: 50%;
}

.col-sm-5 {
	width: 41.66666667%;
}

.col-sm-4 {
	width: 33.33333333%;
}

.col-sm-3 {
	width: 25%;
}

.col-sm-2 {
	width: 16.66666667%;
}

.col-sm-1 {
	width: 8.33333333%;
}

.col-sm-pull-12 {
	right: 100%;
}

.col-sm-pull-11 {
	right: 91.66666667%;
}

.col-sm-pull-10 {
	right: 83.33333333%;
}

.col-sm-pull-9 {
	right: 75%;
}

.col-sm-pull-8 {
	right: 66.66666667%;
}

.col-sm-pull-7 {
	right: 58.33333333%;
}

.col-sm-pull-6 {
	right: 50%;
}

.col-sm-pull-5 {
	right: 41.66666667%;
}

.col-sm-pull-4 {
	right: 33.33333333%;
}

.col-sm-pull-3 {
	right: 25%;
}

.col-sm-pull-2 {
	right: 16.66666667%;
}

.col-sm-pull-1 {
	right: 8.33333333%;
}

.col-sm-pull-0 {
	right: auto;
}

.col-sm-push-12 {
	left: 100%;
}

.col-sm-push-11 {
	left: 91.66666667%;
}

.col-sm-push-10 {
	left: 83.33333333%;
}

.col-sm-push-9 {
	left: 75%;
}

.col-sm-push-8 {
	left: 66.66666667%;
}

.col-sm-push-7 {
	left: 58.33333333%;
}

.col-sm-push-6 {
	left: 50%;
}

.col-sm-push-5 {
	left: 41.66666667%;
}

.col-sm-push-4 {
	left: 33.33333333%;
}

.col-sm-push-3 {
	left: 25%;
}

.col-sm-push-2 {
	left: 16.66666667%;
}

.col-sm-push-1 {
	left: 8.33333333%;
}

.col-sm-push-0 {
	left: auto;
}

.col-sm-offset-12 {
	margin-left: 100%;
}

.col-sm-offset-11 {
	margin-left: 91.66666667%;
}

.col-sm-offset-10 {
	margin-left: 83.33333333%;
}

.col-sm-offset-9 {
	margin-left: 75%;
}

.col-sm-offset-8 {
	margin-left: 66.66666667%;
}

.col-sm-offset-7 {
	margin-left: 58.33333333%;
}

.col-sm-offset-6 {
	margin-left: 50%;
}

.col-sm-offset-5 {
	margin-left: 41.66666667%;
}

.col-sm-offset-4 {
	margin-left: 33.33333333%;
}

.col-sm-offset-3 {
	margin-left: 25%;
}

.col-sm-offset-2 {
	margin-left: 16.66666667%;
}

.col-sm-offset-1 {
	margin-left: 8.33333333%;
}

.col-sm-offset-0 {
	margin-left: 0;
}

}

@media (min-width: 768px) and (max-width: 991px) {

.visible-sm {
	display: block !important;
}

table.visible-sm {
	display: table !important;
}

tr.visible-sm {
	display: table-row !important;
}

th.visible-sm,
td.visible-sm {
	display: table-cell !important;
}

.visible-sm-block {
	display: block !important;
}

.visible-sm-inline {
	display: inline !important;
}

.visible-sm-inline-block {
	display: inline-block !important;
}

.hidden-sm {
	display: none !important;
}

}

@media (min-width: 992px) {

.container {
	width: 970px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	float: left;
}

.col-md-12 {
	width: 100%;
}

.col-md-11 {
	width: 91.66666667%;
}

.col-md-10 {
	width: 83.33333333%;
}

.col-md-9 {
	width: 75%;
}

.col-md-8 {
	width: 66.66666667%;
}

.col-md-7 {
	width: 58.33333333%;
}

.col-md-6 {
	width: 50%;
}

.col-md-5 {
	width: 41.66666667%;
}

.col-md-4 {
	width: 33.33333333%;
}

.col-md-3 {
	width: 25%;
}

.col-md-2 {
	width: 16.66666667%;
}

.col-md-1 {
	width: 8.33333333%;
}

.col-md-pull-12 {
	right: 100%;
}

.col-md-pull-11 {
	right: 91.66666667%;
}

.col-md-pull-10 {
	right: 83.33333333%;
}

.col-md-pull-9 {
	right: 75%;
}

.col-md-pull-8 {
	right: 66.66666667%;
}

.col-md-pull-7 {
	right: 58.33333333%;
}

.col-md-pull-6 {
	right: 50%;
}

.col-md-pull-5 {
	right: 41.66666667%;
}

.col-md-pull-4 {
	right: 33.33333333%;
}

.col-md-pull-3 {
	right: 25%;
}

.col-md-pull-2 {
	right: 16.66666667%;
}

.col-md-pull-1 {
	right: 8.33333333%;
}

.col-md-pull-0 {
	right: auto;
}

.col-md-push-12 {
	left: 100%;
}

.col-md-push-11 {
	left: 91.66666667%;
}

.col-md-push-10 {
	left: 83.33333333%;
}

.col-md-push-9 {
	left: 75%;
}

.col-md-push-8 {
	left: 66.66666667%;
}

.col-md-push-7 {
	left: 58.33333333%;
}

.col-md-push-6 {
	left: 50%;
}

.col-md-push-5 {
	left: 41.66666667%;
}

.col-md-push-4 {
	left: 33.33333333%;
}

.col-md-push-3 {
	left: 25%;
}

.col-md-push-2 {
	left: 16.66666667%;
}

.col-md-push-1 {
	left: 8.33333333%;
}

.col-md-push-0 {
	left: auto;
}

.col-md-offset-12 {
	margin-left: 100%;
}

.col-md-offset-11 {
	margin-left: 91.66666667%;
}

.col-md-offset-10 {
	margin-left: 83.33333333%;
}

.col-md-offset-9 {
	margin-left: 75%;
}

.col-md-offset-8 {
	margin-left: 66.66666667%;
}

.col-md-offset-7 {
	margin-left: 58.33333333%;
}

.col-md-offset-6 {
	margin-left: 50%;
}

.col-md-offset-5 {
	margin-left: 41.66666667%;
}

.col-md-offset-4 {
	margin-left: 33.33333333%;
}

.col-md-offset-3 {
	margin-left: 25%;
}

.col-md-offset-2 {
	margin-left: 16.66666667%;
}

.col-md-offset-1 {
	margin-left: 8.33333333%;
}

.col-md-offset-0 {
	margin-left: 0;
}

}

@media (min-width: 992px) and (max-width: 1199px) {

.visible-md {
	display: block !important;
}

table.visible-md {
	display: table !important;
}

tr.visible-md {
	display: table-row !important;
}

th.visible-md,
td.visible-md {
	display: table-cell !important;
}

.visible-md-block {
	display: block !important;
}

.visible-md-inline {
	display: inline !important;
}

.visible-md-inline-block {
	display: inline-block !important;
}

.hidden-md {
	display: none !important;
}

}

@media (min-width: 1200px) {

.container {
	width: 1170px;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	float: left;
}

.col-lg-12 {
	width: 100%;
}

.col-lg-11 {
	width: 91.66666667%;
}

.col-lg-10 {
	width: 83.33333333%;
}

.col-lg-9 {
	width: 75%;
}

.col-lg-8 {
	width: 66.66666667%;
}

.col-lg-7 {
	width: 58.33333333%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-5 {
	width: 41.66666667%;
}

.col-lg-4 {
	width: 33.33333333%;
}

.col-lg-3 {
	width: 25%;
}

.col-lg-2 {
	width: 16.66666667%;
}

.col-lg-1 {
	width: 8.33333333%;
}

.col-lg-pull-12 {
	right: 100%;
}

.col-lg-pull-11 {
	right: 91.66666667%;
}

.col-lg-pull-10 {
	right: 83.33333333%;
}

.col-lg-pull-9 {
	right: 75%;
}

.col-lg-pull-8 {
	right: 66.66666667%;
}

.col-lg-pull-7 {
	right: 58.33333333%;
}

.col-lg-pull-6 {
	right: 50%;
}

.col-lg-pull-5 {
	right: 41.66666667%;
}

.col-lg-pull-4 {
	right: 33.33333333%;
}

.col-lg-pull-3 {
	right: 25%;
}

.col-lg-pull-2 {
	right: 16.66666667%;
}

.col-lg-pull-1 {
	right: 8.33333333%;
}

.col-lg-pull-0 {
	right: auto;
}

.col-lg-push-12 {
	left: 100%;
}

.col-lg-push-11 {
	left: 91.66666667%;
}

.col-lg-push-10 {
	left: 83.33333333%;
}

.col-lg-push-9 {
	left: 75%;
}

.col-lg-push-8 {
	left: 66.66666667%;
}

.col-lg-push-7 {
	left: 58.33333333%;
}

.col-lg-push-6 {
	left: 50%;
}

.col-lg-push-5 {
	left: 41.66666667%;
}

.col-lg-push-4 {
	left: 33.33333333%;
}

.col-lg-push-3 {
	left: 25%;
}

.col-lg-push-2 {
	left: 16.66666667%;
}

.col-lg-push-1 {
	left: 8.33333333%;
}

.col-lg-push-0 {
	left: auto;
}

.col-lg-offset-12 {
	margin-left: 100%;
}

.col-lg-offset-11 {
	margin-left: 91.66666667%;
}

.col-lg-offset-10 {
	margin-left: 83.33333333%;
}

.col-lg-offset-9 {
	margin-left: 75%;
}

.col-lg-offset-8 {
	margin-left: 66.66666667%;
}

.col-lg-offset-7 {
	margin-left: 58.33333333%;
}

.col-lg-offset-6 {
	margin-left: 50%;
}

.col-lg-offset-5 {
	margin-left: 41.66666667%;
}

.col-lg-offset-4 {
	margin-left: 33.33333333%;
}

.col-lg-offset-3 {
	margin-left: 25%;
}

.col-lg-offset-2 {
	margin-left: 16.66666667%;
}

.col-lg-offset-1 {
	margin-left: 8.33333333%;
}

.col-lg-offset-0 {
	margin-left: 0;
}

.visible-lg {
	display: block !important;
}

table.visible-lg {
	display: table !important;
}

tr.visible-lg {
	display: table-row !important;
}

th.visible-lg,
td.visible-lg {
	display: table-cell !important;
}

.visible-lg-block {
	display: block !important;
}

.visible-lg-inline {
	display: inline !important;
}

.visible-lg-inline-block {
	display: inline-block !important;
}

.hidden-lg {
	display: none !important;
}

}

@media (max-width: 767px) {

.visible-xs {
	display: block !important;
}

table.visible-xs {
	display: table !important;
}

tr.visible-xs {
	display: table-row !important;
}

th.visible-xs,
td.visible-xs {
	display: table-cell !important;
}

.visible-xs-block {
	display: block !important;
}

.visible-xs-inline {
	display: inline !important;
}

.visible-xs-inline-block {
	display: inline-block !important;
}

.hidden-xs {
	display: none !important;
}

}

@media print {

.visible-print {
	display: block !important;
}

table.visible-print {
	display: table !important;
}

tr.visible-print {
	display: table-row !important;
}

th.visible-print,
td.visible-print {
	display: table-cell !important;
}

.visible-print-block {
	display: block !important;
}

.visible-print-inline {
	display: inline !important;
}

.visible-print-inline-block {
	display: inline-block !important;
}

.hidden-print {
	display: none !important;
}

}

